@import './base.css';

html,
body {
  background-color: var(--surface-ground);
  font-family: var(--font-family);
}

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;

  font-weight: normal;
}

#lists-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

a {
  text-decoration: none;
}

@media (max-width: 960px) {
  #lists-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  #lists-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
